EXPO_PUBLIC_API_URL=http://localhost:8500/api
EXPO_PUBLIC_WS_URL=http://localhost:8500/realtime
EXPO_PUBLIC_MAPY_API_KEY=your_mapy_api_key_here
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
EXPO_PUBLIC_USE_MAPY_TILES=true

VITE_API_URL=http://localhost:8500/api
VITE_WS_URL=http://localhost:8500/realtime
VITE_MAPY_API_KEY=your_mapy_api_key_here
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
VITE_USE_MAPY_TILES=true
