API_PORT=3000

POSTGRES_DB=events
POSTGRES_USER=events
POSTGRES_PASSWORD=events
POSTGRES_PORT=5432

REDIS_PORT=6379

EXPO_PUBLIC_API_URL=http://localhost:3000/api
EXPO_PUBLIC_WS_URL=http://localhost:3000/realtime
EXPO_PUBLIC_MAPY_API_KEY=your_mapy_api_key_here
